<!DOCTYPE html>
<html>
<head>
  <title>Group Chat Application</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
  <div class="container">
    <div class="columns is-multiline">
    <div style="background: white; margin-top: 3rem; border-radius: 10px;" 
          class="column is-10 has-text-centered"><h1 class="title is-1" style="font-weight: 800;
          letter-spacing: -2px;">ConnectChat</h1>
    </div>
    <div style="background: white; margin-top: 3rem; border-radius: 10px;" 
          class="column has-text-centered"><button class="button is-danger" id="logout-button">Log out</button>
    </div>
    <div class="modal" id="modalMessage">

    </div>
  </div>
    
  
      
    <div class="chat">
      <div class="columns">
        <div class="column left groups">
          <h2 style="font-weight: 800;" class="is-size-2 colored has-text-centered">Groups</h2>
          <div class="has-text-centered">
            <button style="font-weight: 800;
            letter-spacing: 0px;" class="button has-text-centered" id="create-group-btn">Create a New Group</button>
          </div>
          <ul class="has-text-centered" id="group-list">
            <!-- Group list items will be dynamically added here -->
          </ul>
        </div>
        <div class="column right messages">
          <h2 style="font-weight: 800;" class="is-size-2 colored has-text-centered" id="groupNameDisplay">Select Group</h2>
          <div class="column">
            <ul id="message-list">
              <!-- Messages will be dynamically added here -->
            </ul>
          </div>
          <form class="form" id="message-form">
            <input type="text" id="message-group-id" hidden value="">
            <div class="field">
              <div class="control">
                <input id="message-input" class="input is-medium" name="name" type="text" placeholder="Type your message...">
              </div>
            </div>
            <button class="button" type="submit" id="send-button">Send</button>
            <input type="file" id="file-input" style="display: none;">
            <button class="button" id="upload-file">Select File</button>
          </form>
        </div>
        <div id="adminsection" style="display: none;" class="adminsection column right left2 has-text-centered">
          <h2 style="font-weight: 800;" class="is-size-2 colored has-text-centered">Users</h2><br>
          <div class="columns is-multiline" id="users-list">

          </div>
          <button class="button" type="button" id="add-userToGroup">Add User</button>
        </div>
      </div>
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</body>
</html>
