<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Login</title>
</head>
<body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form id="login-form">
              <div class="field">
                <h1 class="title is-1">Chat Application - Login</h1>
                <div id="show-message" class="field"></div>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" name="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" name="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button id='login-button' class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
      const form = document.querySelector('#login-form');
      const button = document.querySelector('#login-button');
      const success = document.querySelector('#show-message');

      button.addEventListener('click', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        axios.post('/login', formData, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(res => {
            alert(res.data.message);
            // document.location = 'chat'
        })
        .catch(err => alert(err.response.data.error));
      })
    </script>

  </body>
</html>