<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Sign Up</title>
</head>
<body>
  <section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form id="sign-up-form">
                    <div class="field">
                        <h1 class="title is-1">Chat Application - Sign Up</h1>
                        <div id="show-message" class="field"></div>
                        <div class="field">
                            <div class="control">
                              <input class="input" type="text" placeholder="Name" name="name" required>
                            </div>
                          </div>
                        <p class="control has-icons-left has-icons-right">
                          <input class="input" type="email" placeholder="Email" name="email" required>
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" type="password" placeholder="Password" name="password" required>
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <div class="columns">
                          <div class="column">
                            <button id="sign-up-button" class="button is-success">
                              Sign Up
                            </button>
                          </div>
                          <div class="column">
                            <button id="sign-in-button" class="button is-success">
                              Login
                            </button>
                          </div>
                        </div>
                        
                      </div>
                </form>
            </div>
        </div>
      
        </div>
    </section>
    
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>   
    <script>
      const sign_in = document.querySelector('#sign-in-button')
      const form = document.querySelector('#sign-up-form');
      const button = document.querySelector('#sign-up-button');
      const success = document.querySelector('#show-message')

      // login redirect button.
      sign_in.addEventListener('click', (e) => {
        e.preventDefault();
        document.location = '/login';
      });

      button.addEventListener('click', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        axios.post('signup', formData, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(res => {
          let article = document.createElement('article');
            article.classList.add('message', 'is-success')
            article.innerHTML = 
            `
            <div class="message-header">
                <p>Success</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">You signed up. Redirecting ....</div>
            `
            const message = document.querySelector('.message');
            success.appendChild(article);
            setTimeout(() => {
              document.location = '/login'
            }, 1200);
            document.querySelector('.delete').addEventListener('click', (e) => {
                e.preventDefault();
                message.remove();
            })
        })
        .catch(err => console.log(err));
      })
    </script>

  </body>
</html>